.results {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #81A0B7;
    text-align: center;  
}
.resultssmall {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #81A0B7;
    text-align: center;  
}

