.today {
    font-family: 'PT Sans', sans-serif;
  }

.image{
  height:40em; background-size:cover; width:auto;
  background-image:url('/assets/images/quote_area.png');
  background-position:50% 50%;
}