<ng-container >
    <p>move showquote stuff below into each component since they are different TBD</p>
    <div class="image" >
        <div class="mainquote">{{ dayquote }}</div>
    </div>
    <div class="mainauthor">
        {{ authorquote | uppercase }}
    </div>
    <div class="morelink" >
        <a routerLinkActive="active" routerLink="../more">MORE</a>
    </div>
</ng-container>


        <!-- <ul *ngFor="let quote of quotes">
            <li>{{quote.quote}} - {{quote.author}} </li>
            <li>{{quote.post_date}} - {{quote.link}} </li>
        </ul>     -->
