<div class="content" role="main">

  <!-- router outlet -->
  <router-outlet></router-outlet> 
  <!-- end router outlet -->
  
  <!-- move bottombar stuff into each component since they are different TBD -->
  <app-bottombar></app-bottombar>

</div>

<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a routerLinkActive="active" routerLink="search">Search</a></li>
      <li><a routerLinkActive="active" routerLink="search-results">Results</a></li>
    </ul>
  </nav> 
</div>

