<!-- <p class="debug">home works!</p> -->
<div class="content">
  <!-- Logo -->
  <img src="assets/images/logo.svg">
  <!-- Todays Date -->
  <div class="today">{{today | date:'MMMM dd, yyyy' | uppercase}}</div>

  <!-- <app-showquote></app-showquote> -->


  <ng-container >
    <div class="image" >
      <div >{{ items[0].author }}</div>
      <div class="mainquote">{{ dayquote }}</div>
    </div>
    <div class="mainauthor">
        {{ authorquote | uppercase }}
    </div>
    <div class="morelink" >
        <a routerLinkActive="active" routerLink="../more">MORE</a>
    </div>
  </ng-container>

  <button class="morelink" (click)="previous()">previous</button>
  <button class="morelink" (click)="next()">next</button>

  <div *ngFor="let item of items" [class.active]="item === activeItem">{{ activeItem.author }}</div>
  <!-- <div *ngFor="let item of items" [class.active]="item === activeItem">{{ item.author }}</div> -->


        <ul *ngFor="let item of items">
            <li class="hideorshow">{{item.quote}} - {{item.author}} -- {{item.post_date}} - {{item.link}} </li>
        </ul>    




</div>