<!-- <p class="debug">home works!</p> -->
<div class="content">
  <!-- Logo -->
  <img class="logo" src="assets/images/logo.svg">
  <!-- Todays Date -->
  <div class="today">{{today | date:'MMMM dd, yyyy' | uppercase}}</div>
  <!-- <div class="today">{{activeItem.post_date | date:'MMMM dd, yyyy' | uppercase}}</div> -->

  <ng-container>
    <div >
      <img class="qtop" src="assets/images/quote_top.png">
      <!-- <div class="mainquote">{{ dayquote }}</div> -->
      <div class="mainquote">{{ activeItem.quote }}</div>
      <img class="qbottom" src="assets/images/quote_bottom.png">
    </div>
    <div class="mainauthor">
      {{ activeItem.author | uppercase }} -- {{ activeItem.id }}
      <!-- {{ authorquote | uppercase }} -->
    </div>
    <div class="morelink" >
        <a routerLinkActive="active" [routerLink]="['../more', activeItem.id]">MORE</a>
    </div>
  </ng-container>

  <!-- this next bit shows everything -->
        <!-- <ul *ngFor="let item of items">
            <li class="hideorshow">{{item.quote}} - {{item.author}} -- {{item.post_date}} - {{item.link}} </li>
        </ul>     -->

<!-- <p>previous - home - next buttons here</p> -->
<div class="card-container">
  <a class="circle-link" title="Back" (click)="previous()">
    <svg alt="Previous" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="white" d="M14.91 6.71c-.39-.39-1.02-.39-1.41 0L8.91 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L11.03 12l3.88-3.88c.38-.39.38-1.03 0-1.41z"/></svg>    
  </a>

  <a class="circle-link" title="Home" (click)="home()">      
    <svg alt="Home" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="white" d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z"/></svg>
  </a>

  <button class="circle-link" title="Next" (click)="next()">
    <svg alt="Next" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="white" d="M9.31 6.71c-.39.39-.39 1.02 0 1.41L13.19 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.72 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg>    
  </button>
</div>
<!-- Footer -->
<div class="sharelink">
  <a routerLinkActive="active" routerLink="../share" > SHARE </a>
</div>



</div>